/*  --------------------------------- Login ---------------------------------  */

* {
  padding: 0;
  margin: 0;
}

/*  --------------------------------- Parte Imagem ---------------------------------  */

#main {
  display: flex;
  flex-direction: row;
}
#imgLogo {
  background: linear-gradient(#a33e0f65 100%, #db77134f 20%),
    url(../../img/recomendados/R.jfif) no-repeat fixed;
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  --------------------------------- Parte do formulario ---------------------------------  */

#FormLogin {
  height: 100vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#User {
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid #a33e0fd9;
  margin: 50px 0 0 0;
}
#Senha {
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid #a33e0fd9;
}
#ConfirmarSenha {
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid #a33e0fd9;
}
#Email {
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid #a33e0fd9;
}
.StatusSenha {
  width: 24px;
  position: relative;
  left: 90px;
  top: 27px;
}
.StatusConfirmarSenha {
  width: 24px;
  position: relative;
  left: 90px;
  top: 30px;
}
#FormLogin h1 {
  border: none;
  border-bottom: 2px solid #a33e0fd9;
  padding: 0 20px;
}
#btnAcessar {
  margin-top: 20px;
  background-color: #a33e0fd9;
  border: none;
  width: 50%;
  height: 4%;
  border-radius: 20px;
}
#UserError {
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  margin: 50px 0 0 0;
}
#SenhaError {
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid red;
}
#EmailError {
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid red;
}
#ConfirmarSenhaError {
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid red;
}
