* {
  padding: 0;
  margin: 0;
}
#main {
  display: flex;
  flex-direction: row;
}
#MainLogo {
  background-color: #a33e0fd9;
  width: 40%;
  height: 50%;
  border-radius: 100%;
  text-align: center;
}
#imgViolao {
  width: 60%;
}

#imgLogo h1 {
  font-size: 7vh;
  color: aliceblue;
}
#imgLogo hr {
  width: 60%;
  margin-left: 18%;
}
#imgLogo {
  background: linear-gradient(#a33e0f65 100%, #db77134f 20%),
    url(../../img/R.jfif) no-repeat fixed;
  height: 100vh;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#FormLogin {
  height: 100vh;
  width: 35vw;
}
#User {
  height: 3%;
  width: 40%;
  outline: none;
  border: none;
  border-bottom: 1px solid #a33e0fd9;
}
#Senha {
  height: 3%;
  width: 40%;
  outline: none;
  border: none;
  border-bottom: 1px solid #a33e0fd9;
}
